<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.blog') }}">Blog</a>
        <a href="{{ url_for('main.projections') }}">Projections</a>
        <div class="right">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}">Profile</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
        </div>
    </div>    
{% block content %}
{% endblock %}
</body>
</html>